src/main/mule/cicd-autho-connected-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fb3dc6bf-e12a-4f90-a6e8-59e0cf93eeba" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="cicd-autho-connected-applicationFlow" doc:id="020c5ef4-35a6-4dd5-9d9b-d2059f8e35f0" >
		<http:listener doc:name="Listener" doc:id="6ecbee6f-4086-453c-ab79-b6babac979da" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="4e185d82-acee-458d-a364-ce7198cd3617" message="flow starts"/>
		<ee:transform doc:name="Transform Message" doc:id="7a38c169-ae85-460f-8d1f-cbfe31a0fcbb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "CICD Auto deployment using github action configured successful",
	 "status" :  "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2ad2f156-a22f-4ad6-b179-4f9ff24daa45" message="#[payload]"/>
	</flow>
</mule>
